{% extends "templates/layout.html.twig" %}

{% block content %}
<main>
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1>PHP Hosting</h1>
                    <h2>Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h2>
                    <ul>
                        <li>
                            <p><i class="fa fa-check-circle text-success"></i> Solusi PHP untuk performa query yang lebih cepat.</p>
                        </li>
                        <li>
                            <p><i class="fa fa-check-circle text-success"></i> Konsumsi memori yang lebih rendah.</p>
                        </li>
                        <li>
                            <p><i class="fa fa-check-circle text-success"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7.</p>
                        </li>
                        <li>
                            <p><i class="fa fa-check-circle text-success"></i> Fitur enkripsi IonCube dan Zend Guard Loaders.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right text-lg-left">
                    <img alt="" src="/assets/svg/illustration%20banner%20PHP%20hosting-01.svg">
                </div>
            </div>
        </div>
    </section>
    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-7 ml-auto mr-auto">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 text-center">
                            <img src="/assets/svg/icon%20PHP%20Hosting_zendguard.svg" alt="">
                            <p>PHP Zend Guard Loader</p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 text-center">
                            <img src="/assets/svg/icon%20PHP%20Hosting_composer.svg" alt="">
                            <p>PHP Composer</p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 text-center">
                            <img src="/assets/svg/icon%20PHP%20Hosting_ioncube.svg" alt="">
                            <p>PHP ionCube Loader</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="package">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Paket Hosting Singapura yang Tepat</h3>
                    <p>Diskon 40% + Domain dan SSL Gratis untuk Anda</p>
                </div>
            </div>
        </div>
    </section>
    <section id="list-package">
        <div class="container">
            <div class="row" id="package-container">
                <div class="col-lg-3 col-md-6 p-lg-0 mb-4 mb-lg-0 d-none package-template">
                    <div class="package-item">
                        <div class="package-title">
                            <h3 class="name">Bayi</h3>
                        </div>
                        <div class="package-price">
                            <strike>Rp <span class="discount"></span></strike>
                            <p>Rp <span class="price"></span>/ bln</p>
                        </div>
                        <div class="package-register">
                            <p><b class="registered"></b> Pengguna Terdaftar</p>
                        </div>
                        <div class="package-detail">
                            <p class="font-weight-bold"><span class="resource_power"></span> RESOURCE POWER</p>
                            <p><b class="disk_space"></b> Disk Space</p>
                            <p><b class="bandwidth"></b> Bandwidth</p>
                            <p><b class="pop3"></b> POP3 Email</p>
                            <p><b class="database"></b> Databases</p>
                            <p><b class="domain"></b> Domain</p>
                            <p><b class="addon_domain"></b> Addon Domains</p>
                            <p><b class="backup"></b> Backup</p>
                            <p><b class="backup_restore"></b> Backup & Restore</p>
                            <p><b class="unlimited_domain_free"></b> Selamanya</p>
                            <p><b class="unlimited_ssl"></b> Gratis Selamanya</p>
                            <p><b class="name_server"></b> Name Server</p>
                            <p>
                                <b class="priority"></b> Layanan Support
                                <span class="d-block mt-2">
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                </span>
                            </p>
                            <p><b class="mail_protection"></b> Mail Protection</p>
                            <p><b class="pro_mail_protection"></b> Pro Mail Protection</p>
                            <div class="text-center mt-4 mb-4">
                                <button class="btn btn-outline-dark btn-rounded">Pilih Sekarang</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="php-limit">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <p>Powerful dengan Limit PHP yang Lebih Besar</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 offset-lg-1">
                    <table class="table table-striped">
                        <tr>
                            <td><i class="fa fa-check-circle text-success"></i></td>
                            <td>max execution time 300s</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-circle text-success"></i></td>
                            <td>max execution time 300s</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-circle text-success"></i></td>
                            <td>php memory limit 1024 MB</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-5">
                    <table class="table table-striped">
                        <tr>
                            <td><i class="fa fa-check-circle text-success"></i></td>
                            <td>post max size 128 MB</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-circle text-success"></i></td>
                            <td>upload max filesize 128 MB</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-circle text-success"></i></td>
                            <td>max input vars 2500</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section id="feature-hosting" class="has-devider">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <p>Semua Paket Hosting Sudah Termasuk</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 feature-hosting-item mb-5">
                    <img src="/assets/svg/icon%20PHP%20Hosting_PHP%20Semua%20Versi.svg" alt="">
                    <h3>PHP Semua Versi</h3>
                    <p>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
                </div>
                <div class="col-lg-4 feature-hosting-item mb-5">
                    <img src="/assets/svg/icon%20PHP%20Hosting_My%20SQL.svg" alt="">
                    <h3>MySQL Versi 5.6</h3>
                    <p>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
                </div>
                <div class="col-lg-4 feature-hosting-item mb-5">
                    <img src="/assets/svg/icon%20PHP%20Hosting_CPanel.svg" alt="">
                    <h3>Panel Hosting cPanel</h3>
                    <p>Kelola website dengan panel canggih yang familiar di hati Anda.</p>
                </div>
                <div class="col-lg-4 feature-hosting-item mb-5">
                    <img src="/assets/svg/icon%20PHP%20Hosting_CPanel.svg" alt="">
                    <h3>Garansi Uptime 99.99%</h3>
                    <p>Data center yang mendukung kelangsungan website Anda 24/7.</p>
                </div>
                <div class="col-lg-4 feature-hosting-item mb-5">
                    <img src="/assets/svg/icon%20PHP%20Hosting_InnoDB.svg" alt="">
                    <h3>Database InnoDB Unlimited</h3>
                    <p>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.</p>
                </div>
                <div class="col-lg-4 feature-hosting-item mb-5">
                    <img src="/assets/svg/icon%20PHP%20Hosting_My%20SQL%20remote.svg" alt="">
                    <h3>Wildcard Remote MySQL</h3>
                    <p>Mendukung s/d 25 max_user_connections dan 100 max_connections.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="laravel-compatible" class="has-devider">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <p class="text-center">Mendukung Penuh Framework Laravel</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <p>Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda.</p>
                    <ul class="mb-4">
                        <li>
                            <p><i class="fa fa-check-circle text-success"></i> Install Laravel <b>1 klik</b> dengan Softaculous Installer</p>
                        </li>
                        <li>
                            <p><i class="fa fa-check-circle text-success"></i> Mendukung ekstensi <b>PHP MCrypt, phar, mbstring, json,</b> dan <b>fileinfo</b>.</p>
                        </li>
                        <li>
                            <p><i class="fa fa-check-circle text-success"></i> Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstal packages pilihan Anda.</p>
                        </li>
                    </ul>
                    <small class="d-block mb-5">Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</small>
                    <button class="btn btn-primary btn-rounded">Pilih Hosting Anda</button>
                </div>
                <div class="col-lg-6 text-right text-lg-left">
                    <img alt="" src="/assets/svg/illustration%20banner%20support%20laravel%20hosting.svg">
                </div>
            </div>
        </div>
    </section>
    <hr class="mt-0">
    <section id="php-modul">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <p class="text-center">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3 col-6">
                    <ul>
                        <li>IcePHP</li>
                        <li>apc</li>
                        <li>apcu</li>
                        <li>apm</li>
                        <li>ares</li>
                        <li>bcmath</li>
                        <li>bcompiler</li>
                        <li>big_int</li>
                        <li>bitset</li>
                        <li>bloomy</li>
                        <li>bz2_filter</li>
                        <li>clamav</li>
                        <li>coin_acceptor</li>
                        <li>crack</li>
                        <li>dba</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6">
                    <ul>
                        <li>http</li>
                        <li>huffman</li>
                        <li>idn</li>
                        <li>igbinary</li>
                        <li>imagick</li>
                        <li>imap</li>
                        <li>include</li>
                        <li>inotify</li>
                        <li>interbase</li>
                        <li>intl</li>
                        <li>ioncube_loader</li>
                        <li>ioncube_loader_4</li>
                        <li>jsmin</li>
                        <li>json</li>
                        <li>ldap</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6">
                    <ul>
                        <li>nd_pdo_mysql</li>
                        <li>oauth</li>
                        <li>oci8</li>
                        <li>odbc</li>
                        <li>opcache</li>
                        <li>pdf</li>
                        <li>pdo</li>
                        <li>pdo_dblib</li>
                        <li>pdo_firebird</li>
                        <li>pdo_mysql</li>
                        <li>pdo_odbc</li>
                        <li>pdo_pgsql</li>
                        <li>pdo_sqlite</li>
                        <li>pgsql</li>
                        <li>phalcon</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6">
                    <ul>
                        <li>stats</li>
                        <li>stem</li>
                        <li>stomp</li>
                        <li>suhosin</li>
                        <li>sybase_ct</li>
                        <li>sysvmsg</li>
                        <li>sysvsem</li>
                        <li>sysvshm</li>
                        <li>tidy</li>
                        <li>timezonedb</li>
                        <li>trader</li>
                        <li>translit</li>
                        <li>uploadprogress</li>
                        <li>uri_template</li>
                        <li>uuid</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-outline-dark btn-rounded">Selengkapnya</button>
                </div>
            </div>
        </div>
    </section>
    <section id="linux-hosting">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>Linux Hosting yang Stabil dengan Teknologi LVE</p>
                    <p class="detail">
                        SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan caching. Apache load balancer berbasis LiteSpeed Technologies, <b>CageFS</b> security, <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda.
                    </p>
                    <button class="btn btn-primary btn-rounded">Pilih Hosting Anda</button>
                </div>
                <div class="col-lg-6 img-container d-none d-lg-block">
                    <img alt="" src="/assets/images/Image%20support.png">
                </div>
            </div>
        </div>
    </section>
    <section id="share">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg mb-3 mb-lg-0 align-self-center text-center text-lg-left">
                    <p>Bagikan jika Anda menyukai halaman ini.</p>
                </div>
                <div class="col-12 col-lg-auto ml-lg-auto text-center">
                    <ul>
                        <li>
                            <a href="#">
                                <img alt="" src="assets/images/facebook.png">
                                <span>80k</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="" src="assets/images/twitter.png">
                                <span>450</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="" src="assets/images/google.png">
                                <span>1900</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg mb-3 mb-lg-0 align-self-center text-center text-lg-left">
                    <p>Perlu <b>BANTUAN?</b> Hubungi Kami : <b>0274-5305505</b></p>
                </div>
                <div class="col-12 col-lg-auto ml-lg-auto text-center">
                    <button class="btn btn-rounded btn-outline-light">
                        <i class="fa fa-comments"></i> Live Chat
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
