<footer>
    <section id="footer1">
        <div class="container">
            <div class="row mb-lg-5 mb-0">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>HUBUNGI KAMI</h4>
                    <p>
                        0274-5305505 <br>
                        Senin - Minggu <br>
                        24 Jam Nonstop <br><br>
                        Jl. Selokan Mataram Monjali <br>
                        Karangjati MT I/304 <br>
                        Sinduadi, Mlati, Sleman <br>
                        Yogyakarta 55284
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>LAYANAN</h4>
                    <ul>
                        <li>
                            <a href="#">Domain</a>
                        </li>
                        <li>
                            <a href="#">Shared Hosting</a>
                        </li>
                        <li>
                            <a href="#">Cloud VPS Hosting</a>
                        </li>
                        <li>
                            <a href="#">Managed VPS Hosting</a>
                        </li>
                        <li>
                            <a href="#">Web Builder</a>
                        </li>
                        <li>
                            <a href="#">Keamanan SSL / HTTPS</a>
                        </li>
                        <li>
                            <a href="#">Jasa Pembuatan Website</a>
                        </li>
                        <li>
                            <a href="#">Program Affiliasi</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>SERVICE HOSTING</h4>
                    <ul>
                        <li>
                            <a href="#">Hosting Murah</a>
                        </li>
                        <li>
                            <a href="#">Hosting Indonesia</a>
                        </li>
                        <li>
                            <a href="#">Hosting Singapura SG</a>
                        </li>
                        <li>
                            <a href="#">Hosting PHP</a>
                        </li>
                        <li>
                            <a href="#">Hosting Wordpress</a>
                        </li>
                        <li>
                            <a href="#">Hosting Laravel</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>TUTORIAL</h4>
                    <ul>
                        <li>
                            <a href="#">Knowledgebase</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Cara Pembayaran</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mb-lg-5 mb-0">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>TENTANG KAMI</h4>
                    <ul>
                        <li>
                            <a href="#">Tim Niagahoster</a>
                        </li>
                        <li>
                            <a href="#">Karir</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">Penawaran & Promo Spesial</a>
                        </li>
                        <li>
                            <a href="#">Kontak Kami</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>KENAPA PILIH NIAGAHOSTER?</h4>
                    <ul>
                        <li>
                            <a href="#">Support Terbaik</a>
                        </li>
                        <li>
                            <a href="#">Garansi Harga Termurah</a>
                        </li>
                        <li>
                            <a href="#">Domain Gratis Selamanya</a>
                        </li>
                        <li>
                            <a href="#">Datacenter Hosting Terbaik</a>
                        </li>
                        <li>
                            <a href="#">Review Pelanggan</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>NEWSLETTER</h4>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email">
                        <button class="btn btn-primary">Berlangganan</button>
                    </div>
                    <p class="text-muted">Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 social-media">
                    <a href="#">
                        <img src="/assets/images/facebook-circle.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/assets/images/twitter-circle.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/assets/images/google-circle.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>PEMBAYARAN</h4>
                    <div class="payment-list">
                        {% for payment in [1,2,3,4,5,6,7,8,9] %}
                        <img src="/assets/images/payment-{{ payment }}.png" alt="">
                        {% endfor %}
                    </div>
                    <p class="text-muted">Aktivasi instan dengan e-Payment Hosting dan domain langsung aktif!</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-lg mb-lg-0 mb-3">
                    <small>Copyright &copy;2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja dan DC Biznet Technovillage Jakarta <br>
                        Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology</small>
                </div>
                <div class="col-12 col-lg-auto ml-lg-auto">
                    <small><a href="#">Syarat dan Ketentuan</a> | <a href="#">Kebijakan Privasi</a></small>
                </div>
            </div>
        </div>
    </section>
</footer>
