<header>
    <div class="container" id="header1">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg pl-0 pr-0">
                    <ul class="navbar-nav d-none d-md-inline-block">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">
                                <span class="bookmark"><i class="fa fa-tag"></i></span> Gratis Ebook 9 Cara Cerdas Menggunakan Domain [ x ]
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <i class="fa fa-phone"></i> 0274-5305505
                            </a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <i class="fa fa-comments"></i> Live Chat
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">
                                <i class="fa fa-user-circle"></i> Member Area
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <hr class="mt-0">
    <div class="container" id="header2">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg pl-0 pr-0">
                    <a class="navbar-brand" href="#">
                        <img alt="" src="/assets/images/logo.png">
                    </a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
                            <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navb">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hosting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Domain</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Server</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Website</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Afiliasi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Promo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pembayaran</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Review</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Kontak</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <hr>
</header>
