/*General*/
*{
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
}
.container{
    max-width: 1110px;
}
section{
    padding: 50px 0;
}
hr{
    background: #f4f4f4;
    border-color: #f4f4f4;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #4c4c4c;
}
a:hover{
    text-decoration: none;
}
section{
    position: relative;
}
.has-devider:before{
    content: '';
    position: absolute;
    left: calc(50% - 45px);
    top: 0;
    width: 90px;
    height: 5px;
    background: #f4f4f4;
}
.btn-rounded{
    border-radius: 30px;
    padding: 10px 30px;
}
/*End General*/


/* Header section */
.navbar{
    background: #fff;
}
.navbar .navbar-brand img{
    width: 220px;
}
.navbar ul li a{
    color: #4c4c4c;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:hover i{
    color: #00ace4;
}

#header1 .bookmark{
    position: relative;
}
#header1 .bookmark:before{
    content: '';
    width: 0;
    height: 45px;
    background-color: transparent;
    position: absolute;
    top: -22px;
    left: -7px;
    border: solid 15px #0090ef;
    border-bottom: solid 15px transparent;
    transition: all 0.2s;
    cursor: pointer;
}
#header1 .bookmark i{
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    transform: translate(-10px, -13px);
}
#header1 li a{
    font-size: 14px;
}
#header1 li a i{
    margin-right: 5px;
    font-size: 22px;
    transform: translateY(3px);
}
#header1 li:not(:first-child){
    margin-left: 13px;
}

#header2 li:not(:first-child){
    margin-left: 5px;
}
#header2 li a{
    font-weight: 400;
}

@media(max-width: 990px){
    #header1 li:not(:first-child){
        margin-left: 0;
    }

    #header2 li:not(:first-child){
        margin-left: 0;
    }
    #header2 li a{
        text-align: center;
    }
    #header2 li a:hover{
        color: #fff;
        background: #0090ef;
    }

}
/* End Header section */


/*Banner section*/
#banner{
    border-bottom: 1px solid #f4f4f4;
}
#banner h1{
    margin: 0;
    margin-bottom: 25px;
}
#banner h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    margin-bottom: 36px;
}
#banner ul{
    list-style: none;
    padding: 0;
}
#banner ul li{
    margin-bottom: 16px;
}
#banner ul li p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#banner ul li i{
    font-size: 24px;
    transform: translateY(3px);
    margin-right: 10px;
}

@media(max-width: 990px){
    #banner img{
        width: 60%;
    }
}

@media(max-width: 480px){
    #banner img{
        width: 100%;
    }
}
/*End Banner section*/


/*Feature section*/
#feature p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#feature img{
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 22px;
}
/*End Feature section*/


/*Package section*/
#package{
    text-align: center;
}
#package h3, #package p{
    font-family: 'Montserrat', sans-serif;
}
#package h3{
    font-weight: 800;
    font-size: 28px;
}
#package p{
    font-size: 24px;
}
/*End Package section*/


/*List Package section*/
#list-package{
    text-align: center;
}
#list-package h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.package-item{
    position: relative;
    border: 1px solid #f4f4f4;
}
.package-item .ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.package-item .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#00B359 0%, #00B359 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.package-item .ribbon span::before {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #00B359;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #00B359;
}
.package-item .ribbon span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #00B359;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #00B359;
}
.package-item p{
    margin: 0;
    font-size: 14px;
}
.package-item .package-title,
.package-item .package-price,
.package-item .package-register,
.package-item .package-detail{
    padding: 16px;
    border-bottom: 1px solid #f4f4f4;
}
.package-item .package-detail{
    border-bottom: none;
}
.package-item .package-title h3{
    margin: 0;
    font-size: 24px;
}
.package-item .package-price{
    font-family: 'Roboto', sans-serif;
}
.package-item .package-price p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: -16px;
}
.package-item .package-price .price{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.package-item .package-price .price span{
    font-size: 40px;
    transform: translateY(14px);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
.package-item .package-detail{
    border: none;
    font-family: 'Roboto', sans-serif;
}
.package-item .package-detail p{
    margin-bottom: 13px;
}
.package-item .btn{
    border-radius: 30px;
    border-width: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 30px;
}

.package-item.best-seller{
    border: 1px solid #008fee;
}
.package-item.best-seller .package-title,
.package-item.best-seller .package-price,
.package-item.best-seller .package-register,
.package-item.best-seller .package-detail{
    padding: 16px;
    border-bottom: 1px solid #008fee;
}
.package-item.best-seller .package-detail{
    border-bottom: none;
}
.package-item.best-seller .package-title,
.package-item.best-seller .package-price{
    background: #008fee;
}
.package-item.best-seller .package-title h3,
.package-item.best-seller .package-price *,
.package-item.best-seller .package-register p,
.package-item.best-seller .package-register p b{
    color: #fff;
}
.package-item.best-seller .package-register{
    background: #007fde;
}
.package-item.best-seller .btn{
    border-radius: 30px;
    border-width: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 30px;
    background: #007fde;
    border-color: #007fde;
    color: #fff;
}
/*End List Package section*/


/*PHP Limit section*/
#php-limit{
    text-align: center;
}
#php-limit p{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}
#php-limit .table{
    border: 1px solid #f4f4f4;
}
#php-limit .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
#php-limit .table-striped tbody tr:nth-of-type(even) {
    background-color: #f4f4f4;
}
#php-limit .table td{
    border: none;
}
#php-limit .table td i{
    font-size: 22px;
}
/*End PHP Limit section*/


/*Feature Hosting*/
#feature-hosting{
    text-align: center;
}
#feature-hosting p{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}
#feature-hosting .feature-hosting-item img{
    width: 100px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 30px;
}
#feature-hosting .feature-hosting-item h3{
    font-size: 24px;
    font-weight: 800;
}
#feature-hosting .feature-hosting-item p{
    font-size: 16px;
}
/*End Feature Hosting*/


/*Laravel Compatible*/
#laravel-compatible{
    padding-bottom: 0;
}
#laravel-compatible p{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}
#laravel-compatible .col-lg-6 p{
    font-size: 18px;
}
#laravel-compatible ul{
    list-style: none;
    padding: 0;
}
#laravel-compatible ul li{
    margin-bottom: 16px;
}
#laravel-compatible ul li p{
    font-size: 14px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#laravel-compatible ul li i{
    font-size: 20px;
    transform: translateY(3px);
    margin-right: 7px;
}
#laravel-compatible .btn{
    margin-bottom: 30px;
    font-weight: 700;
}

@media(max-width: 990px){
    #laravel-compatible img{
        width: 60%;
    }
}

@media(max-width: 480px){
    #laravel-compatible img{
        width: 100%;
    }
}
/*End Laravel Compatible*/


/*PHP Modul*/
#php-modul p{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}
#php-modul ul{
    list-style: none;
}
#php-modul .btn{
    border-width: 2px;
    font-weight: 700;
}
@media(max-width: 990px){
    #php-modul ul{
        padding: 0;
        margin: 0;
    }
}
/*End PHP Modul*/


/*Linux Hosting*/
#linux-hosting{
    position: relative;
}
#linux-hosting p{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
}
#linux-hosting p.detail{
    font-size: 15px;
    margin-bottom: 30px;
}
#linux-hosting .img-container{
    position: static;
}
#linux-hosting img{
    position: absolute;
    bottom: 0;
}
/*End Linux Hosting*/


/*Share*/
#share{
    background: #f7f7f7;
    padding: 30px 0;
}
#share p{
    font-weight: 600;
    margin: 0;
}
#share ul{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#share ul li img{
    width: 40px;
    height: 40px;
}
#share ul li a{
    margin-left: 7px;
}
#share ul li a span{
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px 16px;
    font-size: 12px;
}
#share ul li a span:after{
    content: '';
    position: absolute;
    left: -6px;
    top: calc(50% - 6px);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #ccc;
}
/*End Share*/


/*Call to action*/
#call-to-action{
    background: #00a2f3;
}
#call-to-action *{
    color: #fff;
}
#call-to-action p{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-bottom: 0;
}
/*End Call to action*/


/*Footer*/
footer{
    background: #303030;
}
footer *{
    color: #d8d8d8;
}
footer h4{
    font-weight: 700;
    color: #8e8e8e;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer p,
footer ul li a{
    font-size: 14px;
}
footer a:hover{
    text-decoration: none;
    color: #00a2f3;
}
footer .form-control{
    border-radius: 30px;
    border: none;
    background: #f7f7f7;
    padding: 30px 25px;
    font-size: 13px;
}
footer .form-group{
    position: relative;
}
footer .form-group .btn{
    position: absolute;
    right: 7px;
    top: 12px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 12px;
    background: #00a2f3;
}
footer .text-muted{
    color: #696969 !important;
}
footer .social-media a{
    margin-right: 7px;
}
footer .payment-list{
    margin-bottom: 8px;
}
footer .payment-list img{
    margin-right: 7px;
    margin-bottom: 8px;
}
/*End Footer*/
